www.tavernadosjogos.com.br {
	tls /etc/caddy/certs/origin.pem /etc/caddy/certs/origin.key
	redir https://tavernadosjogos.com.br{uri} permanent
}

tavernadosjogos.com.br {
	tls /etc/caddy/certs/origin.pem /etc/caddy/certs/origin.key

	request_body {
		max_size 10MB
	}

	reverse_proxy 127.0.0.1:3010 {
		flush_interval -1
		header_up X-Real-IP {http.request.header.CF-Connecting-IP}
	}

	log {
		output file /var/log/caddy/taverna.log {
			roll_size 20MiB
			roll_keep 5
		}
	}
}
